.cart-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f7fafd;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
}
.amount{
  display: flex;
  padding: 25px;
  margin-top: 35px;
  gap: 20px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  flex-wrap: wrap;
  gap: 100px;
}

.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cart-item-box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  gap: 50px;
  width: 800px;
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.item-details {
  flex: 1;

}
.item-details h3{
  font-size: 25px;
}
.item-details h4{
  font-size: 20px;
  font-weight: bold;
}

.qty-controls {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-bottom: -100px;
}

.qty-controls button {
  background-color: #f1f7fd;
  border: none;
  margin-top: 90px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 10px;
  margin-top: 15px;
 
  right: 10px;
  cursor: pointer;
}


.cart-summary {
  flex: 1;
  background-color: white;
  padding: 40px 20px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  width: 240px;
}


.cart-summary h2 {
  color: #003366;
  font-size: 25px;
  font-weight: bold;
  padding:10px ;
}
.cart-summary p{
  padding: 10px;
  font-size: 19px;
  font-weight: bold;
color: gray;
}
.cart-summary h3{
  font-size: 20px;
  padding: 10px;
}

.empty-cart-message {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 35px;
  color: #444;
}
.empty-cart-message h2{
 color:blue;
}