.searchbar-container{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px 150px;
    flex-wrap: wrap;
    
}
.dropdown-btn{
    padding: 10px 16px;
    background-color: rgb(67, 67, 237);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.dropdown {
    display: flex;
    align-items: center;
    gap: 350px; /* optional, adds space between dropdown and search */
}

.searchbar{
    position: relative;

}
.searchbar input{
    padding: 10px 15px;
    padding-right: 35px;
    border: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    width: 600px;
    font-size: 20px;
    outline: none;
    
}
.searchicon{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(-50%);
    color: #888;
    font-size: 20px;
    margin-top: -10px;
}