.searchbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px 150px;
    flex-wrap: wrap;
}
.dropdown-btn{
    padding: 10px 16px;
    background-color: rgb(67, 67, 237);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.dropdown-btn option{
    
}